torch==2.4.0
numpy==1.26.4
pandas==2.2.2
scikit-learn==1.5.0
einops==0.8.0
sympy
matplotlib
seaborn
pyyaml
hydra-core==1.3.2
omegaconf
wandb
chronos-forecasting
transformers==4.44.2
accelerate
ipython
ipdb
jupyter
pytest
black
ruff
gdown
tqdm
